/* misc */
body {
	background-color: lightgray;
}
.narrow-width {
	max-width: 700px;
}
a.gray-eeeeee {
	color: #eeeeee;
}
hr {
	border: 3px solid #eeeeee;
	margin-top: 19px;
	margin-bottom: 20px;
}
body.has-header-fixed .overlay {
	padding-top: 45px;
}
/* header */
#main_header {
	border-bottom: 5px solid #64d585;
}
	#main_header .dot-container {
		position: absolute;
		left: 50%;
		margin-left: 40px;
		font-size: 10px;
	}
label[for="language_selector_select"] {
	position: absolute;
	top: 12px;
	right: 8px;
	background-color: #333;
	width: 32px;
	height: 19px;
	background-image: url('../img/sprite_flags.png');
	background-repeat: no-repeat;
	background-size: 100%;
}
#language_selector_select {
	position: absolute;
	top: 10px;
	right: 0;
	width: 44px;
	height: 44px;
}
#logo {
	color: transparent;
	text-transform: uppercase;
	letter-spacing: 1;
	font-size: 12px;
	background: transparent url('../img/logo_score_ping_pong.png') 50% 0 no-repeat;
	display: block;
	background-size: 85%;
}
.logo-image {
	margin-top: 60px;
}
.btn {
	/* border-bottom: 5px solid #183320; */
	box-shadow: 0px 5px 0px #183320;
	-moz-box-shadow: 0px 5px 0px #183320;
	-webkit-box-shadow: 0px 5px 0px #183320;
}
.circle {
    border-radius: 50%;
    width: 16px;
    height: 16px;
    display: inline-block!important;
    line-height: 16px;
    text-align: center;
}
	.circle.notification {
	    position: absolute;
	    top: 4px;
	    left: 22px;
	    background-color: red;
	    font-size: 10px;
	    color: white;
	}

/* content */

.content {
	width: 90%;
}

/* video */
#video {
	width: 100%;
	/* display: none; */
	height: 30px;
}

/* language-scene */

.language-scene {
	text-align: center;
	padding: 1em;
}
	.language-scene .btn {
		border-bottom: 5px solid #166502;
	}
	.language-scene .btn:hover {
		border-bottom: 5px solid #2ab107;
		background-color: #51fe24;
	}

/* ping-pong-table */

.ping-pong-table {
	position: absolute;
	top: 0;
	left: 0;
    background-color: #285635;

    border: 5px solid white;
    width: 100%;
    height: 100%;
}
	.ping-pong-table .side {
    width: 100%;

	
    display: block;
    height: 50%;
}
		.ping-pong-table .side.side-1 {
    border-bottom: 3px solid black;

		}
		.ping-pong-table .side.side-2 {
    border-bottom: 0;

		}
	.ping-pong-table .half {
    width: 49%;

	
    height: 100%;
}
		.ping-pong-table .half.half-left {
    border-right: 1px solid white;

		}
		.ping-pong-table .half.half-right {
    float: left;
			
		}

/* player form */
#player_form {
    height: 100%;

    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
	#player_form fieldset {
	    width: 100%;

		
	    height: 50%;
	    text-align: center;
	}
		#player_form fieldset.is-serving {
			background-color: rgba(255,255,255,.25);
		}
		#player_form #player_1_fieldset {

		
		}
		#player_form #player_2_fieldset {

		}
		#player_form fieldset label {
    /* line-height: 100%; */
			
		
    font-size: 5em;
    /* height: 100%; */
    top: .25em;
    font-weight: bold;
    font-family: courier;
    color: transparent;
}
	.scores {
		width: 50%;
		margin: 0 auto;
		background-color: white;
		/* border: 1px solid black; */
		border-radius: 5px;
		height: 50%;
		top: 25%;
	}
		.scores .score {
			background-color: white;
			background-image: url('../img/sprite_score.png');
			background-repeat: no-repeat;
			transition: background .25s ease-in-out;
			width: 50%;
			display: block;
			height: 100%;
			float: left;
			background-position-x: 50%;
		}
		.pts-9 {
			background-position-y: 0px;
		}
		.pts-8 {
			background-position-y: -300px;
		}
		.pts-7 {
			background-position-y: -600px;
		}
		.pts-6 {
			background-position-y: -900px;
		}
		.pts-5 {
			background-position-y: -1200px;
		}
		.pts-4 {
			background-position-y: -1500px;
		}
		.pts-3 {
			background-position-y: -1800px;
		}
		.pts-2 {
			background-position-y: -2100px;
		}
		.pts-1 {
			background-position-y: -2400px;
		}
		.pts-0 {
			background-position-y: -2700px;
		}
	.btn-add-points {
		
	}

@media only screen 
	and (max-width: 568px) {
		.scores {
		}
			.scores .score {
				background-size: 65px;
			}
			.pts-9 {
				background-position-y: 2px;
			}
			.pts-8 {
				background-position-y: -95px;
			}
			.pts-7 {
				background-position-y: -192px;
			}
			.pts-6 {
				background-position-y: -289px;
			}
			.pts-5 {
				background-position-y: -386px;
			}
			.pts-4 {
				background-position-y: -485px;
			}
			.pts-3 {
				background-position-y: -582px;
			}
			.pts-2 {
				background-position-y: -680px;
			}
			.pts-1 {
				background-position-y: -778px;
			}
			.pts-0 {
				background-position-y: -875px;
			}
}